@charset "utf-8";

@font-face {
    font-family: robotobold;
    src: url(RobotoCondensed-Bold.ttf);
}

@font-face {
    font-family: robotolight;
    src: url(RobotoCondensed-Light.ttf);
}

body {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
    height: 100%;
    background:url(../images/homepage1.jpg) no-repeat center center fixed;
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
    background-repeat: no-repeat;
}

#text_wrapper {

		margin-left: 850px;
		margin-top: 200px;
		width: 400px;
		height: auto;
		float: left;
}

p.text {
		font-family: robotobold, Tahoma, Verdana, Segoe, sans-serif; 
		font-size: 65px;
		color: #660000;
		
}

button {
		display: block;
		height: 60px;
		width: 150px;
		background: transparent;
		border: 3px solid #660000;
		margin-left: 90px;
				
}

button.text {

		color: #660000;
		text-align: center;
		font-family: robotolight, Tahoma, Verdana, Segoe, sans-serif;
		font-size: 20px;
		text-decoration: none;

}

button:focus {outline:0;}

a {
		text-decoration: none;
}

button:hover { 
		color:#ffffff; 
		border-color: #ffffff;
}
